<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.CustomerMapper">
    <select id="getCustomerList" resultType="com.example.mall.vo.Customer">
        SELECT customer_mail customerMail,
        customer_birth customerBirth,
        create_date createDate FROM customer
    </select>
    
     <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM customer
    </select>
    
</mapper>