<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.CustomerMapper">
	
	<!-- 오자윤 : customerList 에 고객 검색시 -->
	<select id="searchByEmail" resultType="map">
		SELECT customer_mail customerMail
				customer_birth customerBirth
				create_date createDate
		FROM customer
		WHERE customer_mail = #{customerMail]
	</select>

	<!--  오자윤 : customerList 고객검색 -->
	<select id="selectCustomerOfList" parameterType="String" resultType="com.example.mall.vo.Customer">
	  SELECT customer_mail customerMail
        FROM customer
        WHERE customer_mail=#{customerMail}
	</select>
	
	<!--  우정 : 고객 회원가입  -->
	<insert id="insertCustomer" parameterType="com.example.mall.vo.Customer">
	    INSERT INTO customer (customer_mail, customer_pw, customer_birth, customer_gender, create_date, update_date)
	    VALUES (#{customerMail}, #{customerPw}, #{customerBirth}, #{customerGender}, NOW(), NOW());
	</insert>
	
	<!-- 우정 : 고객 로그인 -->
	<select id = "login" parameterType="com.example.mall.vo.Customer"
         resultType="com.example.mall.vo.Customer">
      SELECT 
         customer_mail customerMail
         , customer_pw customerPw
      FROM customer
      WHERE customer_mail = #{customerMail} AND customer_pw = #{customerPw}
   </select>
   
   <!--  오자윤 : 개별 고객 상세정보 -->
	<select id="selectCustomerOne" parameterType="String" resultType="map">
	  SELECT c.customer_mail customerMail,
	  	c.customer_pw customerPw,
        c.customer_birth customerBirth,
        c.customer_gender customerGender,
        c.create_date createDate,
        c.update_date updateDate,
        a.address_detail addressDetail
        FROM customer c
        LEFT OUTER JOIN address a
        ON c.customer_mail = a.customer_mail
        WHERE c.customer_mail=#{customerMail}
	</select>
	
	<!-- 오자윤 : 고객 삭제 쿼리 -->
	<delete id="deleteCustomer" parameterType="String">
		DELETE FROM customer
		WHERE customer_mail = #{customerMail}
	</delete>

	<!-- 오자윤 : 고객리스트 가져오기 -->
    <select id="selectCustomerList" resultType="com.example.mall.vo.Customer">
        SELECT customer_mail customerMail
        , customer_pw customerPw
		, customer_birth customerBirth
		, customer_gender customerGender
		, update_date updateDate
		, create_date createDate
		FROM customer
		LIMIT #{beginRow}, #{rowPerPage}
    </select>
    
    <!-- 오자윤 : 고객리스트 카운트 -->
     <select id="countCustomerList" resultType="int">
        SELECT COUNT(*) FROM customer
    </select>
    
</mapper>